<beans>
    <bean id="userDao" class="com.sunshine.winter.beans.UserDao"/>
    <bean id="userService" class="com.sunshine.winter.beans.UserService">
        <property name="uId" value="1001"/>
        <property name="company" value="Tencent"/>
        <property name="company" value="Tencent"/>
        <property name="location" value="ShenZheng"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    
    <bean class="com.sunshine.winter.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.sunshine.winter.common.MyBeanPostProcessor"/>
</beans>