<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.sunshine.winter.beans.MyUserService" scope="prototype">
        <property name="uId" value="1001"/>
        <property name="company" value="tencent"/>
        <property name="location" value="shenzhen"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="com.sunshine.winter.beans.ProxyBeanFactory"/>

</beans>